R2Core/Web References/R2PrimaryWS/R2PRIMARYWEBSERVICE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebMethodLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourUserShenaseh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourUserPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodLoginResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationProviderBillOfLadingControlReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourBLCId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourExchangeKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationProviderBillOfLadingControlReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodReportingInformationProviderBillOfLadingControlInfractionsReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourBLCIId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourExchangeKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodReportingInformationProviderBillOfLadingControlInfractionsReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="WebMethodPaymentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourMCSSId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourAmount" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourSoftwareUserId" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="YourExchangeKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodPaymentRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodPaymentRequestResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodVerificationRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="YourMCSSId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="YourAuthority" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourExchangeKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodVerificationRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodVerificationRequestResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebMethodLoginSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodLogin" />
  </wsdl:message>
  <wsdl:message name="WebMethodLoginSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodLoginResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationProviderBillOfLadingControlReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationProviderBillOfLadingControlReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationProviderBillOfLadingControlReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationProviderBillOfLadingControlReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationProviderBillOfLadingControlInfractionsReportSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationProviderBillOfLadingControlInfractionsReport" />
  </wsdl:message>
  <wsdl:message name="WebMethodReportingInformationProviderBillOfLadingControlInfractionsReportSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodReportingInformationProviderBillOfLadingControlInfractionsReportResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodPaymentRequestSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodPaymentRequest" />
  </wsdl:message>
  <wsdl:message name="WebMethodPaymentRequestSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodPaymentRequestResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodVerificationRequestSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodVerificationRequest" />
  </wsdl:message>
  <wsdl:message name="WebMethodVerificationRequestSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodVerificationRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="R2PrimaryWebServiceSoap">
    <wsdl:operation name="WebMethodLogin">
      <wsdl:input message="tns:WebMethodLoginSoapIn" />
      <wsdl:output message="tns:WebMethodLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderBillOfLadingControlReport">
      <wsdl:input message="tns:WebMethodReportingInformationProviderBillOfLadingControlReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationProviderBillOfLadingControlReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderBillOfLadingControlInfractionsReport">
      <wsdl:input message="tns:WebMethodReportingInformationProviderBillOfLadingControlInfractionsReportSoapIn" />
      <wsdl:output message="tns:WebMethodReportingInformationProviderBillOfLadingControlInfractionsReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodPaymentRequest">
      <wsdl:input message="tns:WebMethodPaymentRequestSoapIn" />
      <wsdl:output message="tns:WebMethodPaymentRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodVerificationRequest">
      <wsdl:input message="tns:WebMethodVerificationRequestSoapIn" />
      <wsdl:output message="tns:WebMethodVerificationRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="R2PrimaryWebServiceSoap" type="tns:R2PrimaryWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebMethodLogin">
      <soap:operation soapAction="http://tempuri.org/WebMethodLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderBillOfLadingControlReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationProviderBillOfLadingControlReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderBillOfLadingControlInfractionsReport">
      <soap:operation soapAction="http://tempuri.org/WebMethodReportingInformationProviderBillOfLadingControlInfractionsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodPaymentRequest">
      <soap:operation soapAction="http://tempuri.org/WebMethodPaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodVerificationRequest">
      <soap:operation soapAction="http://tempuri.org/WebMethodVerificationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="R2PrimaryWebServiceSoap12" type="tns:R2PrimaryWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebMethodLogin">
      <soap12:operation soapAction="http://tempuri.org/WebMethodLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderBillOfLadingControlReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationProviderBillOfLadingControlReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodReportingInformationProviderBillOfLadingControlInfractionsReport">
      <soap12:operation soapAction="http://tempuri.org/WebMethodReportingInformationProviderBillOfLadingControlInfractionsReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodPaymentRequest">
      <soap12:operation soapAction="http://tempuri.org/WebMethodPaymentRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodVerificationRequest">
      <soap12:operation soapAction="http://tempuri.org/WebMethodVerificationRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="R2PrimaryWebService">
    <wsdl:port name="R2PrimaryWebServiceSoap" binding="tns:R2PrimaryWebServiceSoap">
      <soap:address location="http://192.168.1.2:2011/R2PrimaryWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="R2PrimaryWebServiceSoap12" binding="tns:R2PrimaryWebServiceSoap12">
      <soap12:address location="http://192.168.1.2:2011/R2PrimaryWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>