PayanehClassLibrary/Web References/PayanehWS/PayanehWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebMethodLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourUserShenaseh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YourUserPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WebMethodLoginResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetTruckDriverByNationalCodefromRMTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourNationalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourExchangeKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetTruckDriverByNationalCodefromRMTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodGetTruckDriverByNationalCodefromRMTOResult" type="tns:R2CoreTransportationAndLoadNotificationTruckDriver" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="R2CoreTransportationAndLoadNotificationTruckDriver">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DriverId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="NameFamily" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FatherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DrivingLicenseNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SmartCardNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WebMethodGetTruckBySmartCarNofromRMTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="YourSmartCardNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="YourExchangeKey" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebMethodGetTruckBySmartCarNofromRMTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebMethodGetTruckBySmartCarNofromRMTOResult" type="tns:R2CoreTransportationAndLoadNotificationTruck" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="R2CoreTransportationAndLoadNotificationTruck">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TruckId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="LoaderTypeId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Pelak" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SmartCardNo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebMethodLoginSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodLogin" />
  </wsdl:message>
  <wsdl:message name="WebMethodLoginSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodLoginResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetTruckDriverByNationalCodefromRMTOSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetTruckDriverByNationalCodefromRMTO" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetTruckDriverByNationalCodefromRMTOSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetTruckDriverByNationalCodefromRMTOResponse" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetTruckBySmartCarNofromRMTOSoapIn">
    <wsdl:part name="parameters" element="tns:WebMethodGetTruckBySmartCarNofromRMTO" />
  </wsdl:message>
  <wsdl:message name="WebMethodGetTruckBySmartCarNofromRMTOSoapOut">
    <wsdl:part name="parameters" element="tns:WebMethodGetTruckBySmartCarNofromRMTOResponse" />
  </wsdl:message>
  <wsdl:portType name="PayanehWebServiceSoap">
    <wsdl:operation name="WebMethodLogin">
      <wsdl:input message="tns:WebMethodLoginSoapIn" />
      <wsdl:output message="tns:WebMethodLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTruckDriverByNationalCodefromRMTO">
      <wsdl:input message="tns:WebMethodGetTruckDriverByNationalCodefromRMTOSoapIn" />
      <wsdl:output message="tns:WebMethodGetTruckDriverByNationalCodefromRMTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTruckBySmartCarNofromRMTO">
      <wsdl:input message="tns:WebMethodGetTruckBySmartCarNofromRMTOSoapIn" />
      <wsdl:output message="tns:WebMethodGetTruckBySmartCarNofromRMTOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayanehWebServiceSoap" type="tns:PayanehWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebMethodLogin">
      <soap:operation soapAction="http://tempuri.org/WebMethodLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTruckDriverByNationalCodefromRMTO">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetTruckDriverByNationalCodefromRMTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTruckBySmartCarNofromRMTO">
      <soap:operation soapAction="http://tempuri.org/WebMethodGetTruckBySmartCarNofromRMTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayanehWebServiceSoap12" type="tns:PayanehWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebMethodLogin">
      <soap12:operation soapAction="http://tempuri.org/WebMethodLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTruckDriverByNationalCodefromRMTO">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetTruckDriverByNationalCodefromRMTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebMethodGetTruckBySmartCarNofromRMTO">
      <soap12:operation soapAction="http://tempuri.org/WebMethodGetTruckBySmartCarNofromRMTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayanehWebService">
    <wsdl:port name="PayanehWebServiceSoap" binding="tns:PayanehWebServiceSoap">
      <soap:address location="http://192.168.1.2:2012/PayanehWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PayanehWebServiceSoap12" binding="tns:PayanehWebServiceSoap12">
      <soap12:address location="http://192.168.1.2:2012/PayanehWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>